In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(data=[['A', 'Apple',70, 'Female'], ['B', 'Mango', 80, 'Male'], ['A', 'Gauava', 60, 'Female'], ['C', 'Apple', 100, 'Male']], columns=['Group', 'Items', 'Rate', 'Sex'])

In [4]:
df['Weight'] = [1000, 2000, 500, 6500]

In [5]:
df

  Group   Items  Rate     Sex  Weight
0     A   Apple    70  Female    1000
1     B   Mango    80    Male    2000
2     A  Gauava    60  Female     500
3     C   Apple   100    Male    6500

In [6]:
df.groupby('Rate').describe()

     Weight
      count    mean std     min     25%     50%     75%     max
Rate
60      1.0   500.0 NaN   500.0   500.0   500.0   500.0   500.0
70      1.0  1000.0 NaN  1000.0  1000.0  1000.0  1000.0  1000.0
80      1.0  2000.0 NaN  2000.0  2000.0  2000.0  2000.0  2000.0
100     1.0  6500.0 NaN  6500.0  6500.0  6500.0  6500.0  6500.0

In [7]:
def high(x):
    if x>80:
        return "Too high rate"
    else:
        return "Affordable"

In [8]:
df['Rate'].apply(high)

0       Affordable
1       Affordable
2       Affordable
3    Too high rate
Name: Rate, dtype: object

In [9]:
df['Items'] = df['Rate'].apply(high) +df['Items']

In [10]:
df

  Group               Items  Rate     Sex  Weight
0     A     AffordableApple    70  Female    1000
1     B     AffordableMango    80    Male    2000
2     A    AffordableGauava    60  Female     500
3     C  Too high rateApple   100    Male    6500